<%= form_for @workout do |workout_form| %>
    <%= workout_form.label :date %>
    <%= workout_form.date_field :date %>
    <br>
    <%= workout_form.label :calories_burned %>
    <%= workout_form.number_field :calories_burned %>
    <br>
    <%= workout_form.label :workout_type %>
    <%= workout_form.text_field :workout_type %>
    <br>
    <%= workout_form.label :description %>
    <%= workout_form.text_field :description %>
    <br>
    <h3>New Client</h3>
    <%= workout_form.fields_for :client, Client.new do |client_fields| %>
     <%= client_fields.label :name %>
    <%= client_fields.text_field :name %>
    <br>
    <%= client_fields.label :weight %>
    <%= client_fields.number_field :weight %>
     <br>
    <%= client_fields.label :goal_weight %>
    <%= client_fields.number_field :goal_weight %>
     <br>
    <%= client_fields.label :note %>
    <%= client_fields.text_area :note %>
     <br>
    <% end %>
    <p> <%= workout_form.label :Client %>
    <%= workout_form.collection_select :client_id, Client.all, :id, :name, include_blank: 'Choose One' %>
    </p>
   <br><br>
    <%= workout_form.submit %>
    <% end %>