<h1>New Workout</h1>

<%= form_for @workout do |workout_form| %>
    <%= workout_form.label :date %>
    <%= workout_form.date_field :date %>
    <%= workout_form.number_field :calories_burned %>
    <%= workout_form.text_field :type %>
    <%= workout_form.text_field :description %>
    <%= workout_form.submit %>
    <% end %>
