<h1>Clients</h1>
<%= link_to 'Add Client', new_client_path %>
<div>
<ul>
<% @clients.each do |client| %>
    <b><%= link_to client.name, edit_client_path(client) %></b>
        <li>Weight: <%= client.weight %></li>
        <li>Goal Weight: <%= client.goal_weight %></li>
        <li>Notes: <%= client.note %></li>
<% end %>
</ul>
</div>
